
{% extends 'layout.html' %}

{% block body %}
    <main id="main" class="site-main">
        <div class="articles-wrapper row">                 
        <article id="post-191" class="wrapper post-191 page type-page status-publish hentry">
            <header class="container">
                <div class="squeezed">
                    <h1 class="entry-title">Welcome !</h1>
                </div>
            </header>
            <div class="article-content container">
                <div class="wrapper">
                    <div class="inner-content">
                        <p></p><div class="contained-content"><p></p>
                        <h2 id="thank-you-for-your-download">API Activity Track Wizard</h2>
                        <p>In computer programming, an application programming interface (API) is a set of subroutine definitions, communication protocols, and tools for building software. In general terms, it is a set of clearly defined methods of communication among various components. A good API makes it easier to develop a computer program by providing all the building blocks, which are then put together by the programmer.</p>
                        <p><a href="/Dashboard"><button class="primary with-shadow">Take me to Dashboard!</button></a>
                        </p></div><p></p>
                    </div>
                </div>
            </div>
        </article>
        </div>
    </main>

{% endblock %}