
{% extends 'layout.html' %}

{% block body %}
    <main id="main" class="site-main">
        <div class="articles-wrapper row">                 
        <article id="post-191" class="wrapper post-191 page type-page status-publish hentry">
            <header class="container">
                <div class="squeezed">
                    <h1 class="entry-title">Oh oooh !!!</h1>
                </div>
            </header>
            <div class="article-content container">
                <div class="wrapper center">
                    <div class="inner-content center">
                        <p></p><div class="contained-content center"><p></p>
                        <h2 class="center">Page Not Found</h2>
                        </div><p></p>
                    </div>
                </div>
            </div>
        </article>
        </div>
    </main>

{% endblock %}